/* Updateprofile.scss */

.updateprofile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    background-color: lightblue;
    margin-top: -40px;
  }
  
  .update-box {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .headingupdate {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-user-img1 {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .labelimg {
    display: inline-block;
    cursor: pointer;
   

  }

  .labelimg img {
      border-radius: 50%;
      width: 300px;
      border: 3px dashed blue;
  }
  
  .inputimg {
    display: none;
  }
  
 .update-box  form {
    margin-bottom: 20px;
  }
  
  .update-box  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .update-box input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .update-info {
    text-align: center;
  }
  
 .update-info button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive Media Queries */
  
  @media (max-width: 768px) {
    .update-box {
      max-width: 90%;
    }
  }
  